---
import Contact from "@components/Contact/Contact.astro";
import DestinationGrid from "@components/Destination/DestinationGrid.astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "./BaseLayout.astro";

interface Props {
	destination: CollectionEntry<"destinations">;
}

const { destination } = Astro.props as Props;
const { title, description, heroImage } = destination.data;

// find other destinations to show later down the page
const otherDestinations = await getCollection("destinations", (otherDestination) => {
	// filter out draft pages
	return otherDestination.data.draft !== true && otherDestination.id !== destination.id;
});
---

<BaseLayout
	type="general"
	title={title}
	description={description}
	heroImage={heroImage}
	navStartStyle="white"
>
	<div class="relative h-[40svh] w-full overflow-hidden md:h-[60svh]">
		<div class="absolute inset-0 z-10 bg-black/30"></div>

		<Image
		src={heroImage}
		alt={`Header for ${title}`}
		class="absolute inset-0 h-auto min-h-full w-full min-w-full object-cover md:hidden"
		width={600}
		densities={[1.5, 2]}
		loading="eager"
		/>
		<Image
		src={heroImage}
		alt={`Header for ${title}`}
		class="absolute inset-0 hidden h-auto min-h-full w-full min-w-full object-cover md:block"
		width={1920}
		densities={[1.5, 2]}
		loading="eager"
		/>

	</div>

	<article class="mx-auto mt-12 px-4 md:mt-20 md:max-w-6xl">
		<h1 class="h1 description mt-2 text-center uppercase">
			{title}
		</h1>

		<!-- slot really only fuctions as a longer description -->
		<div class="markdown-content description mt-6 text-pretty md:text-lg">
			<slot />
		</div>
	</article>

	<section class="mx-auto mt-12 px-4 md:mt-16 md:max-w-5xl">
		<h3 class="h2 text-center">More Destinations</h3>
		<DestinationGrid destinations={otherDestinations} />
	</section>
	
	<Contact class="mt-12" />
</BaseLayout> 